* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303030;
    color: white;
    font-family: system-ui, sans-serif;
    text-align: center;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: black;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}
